<div class="side_bar_header">
  <div class="user">
  <a href="#">TEST</a>
  </div>
  <div class="new_chat">
  <a href="#">チャット作成</a>
  </div>
</div>

<div class="rooms">
  <div class="room_name">
    <a href="#">room1</a>
  </div>
  <div class="room_name">
    <a href="#">room2</a>
  </div>
  <div class="room_name">
    <a href="#">room3</a>
  </div>
  <div class="room_name">
    <a href="#">room4</a>
  </div>
  <div class="room_name">
    <a href="#">room5</a>
  </div>
  <div class="room_name">
    <a href="#">room6</a>
  </div>
  <div class="room_name">
    <a href="#">room7</a>
  </div>
  <div class="room_name">
    <a href="#">room8</a>
  </div>
  <div class="room_name">
    <a href="#">room9</a>
  </div>
  <div class="room_name">
    <a href="#">room10</a>
  </div>
</div>